.off-canvas-wrapper-inner {
  min-height: 100vh;
}
.off-canvas {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
  z-index: 50;
}
.off-canvas-content {
  box-shadow: none;
  background-color: transparent;
  padding-top: 27px;
}
.sidebar-logo {
    margin-top: 37px;
    margin-bottom: 37px;
    padding-left: 16px;
}