<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Foundation | Welcome</title>
  <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css">

</head>

<body>
  <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
        <div class="row column">
          <%= htmlWebpackPlugin.options.filename %>
          <img class="sidebar-logo" src="./images/logo.jpg">
          <ul class="accordion" data-accordion>
            <li class="accordion-item is-active" data-accordion-item>
              <!-- Accordion tab title -->
              <a href="#" class="accordion-title">Components</a>

              <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
              <div class="accordion-content" data-tab-content>
                 <ul class="vertical menu">
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Checkboxes</a></li>
                    <li><a href="#">Radio Buttons</a></li>
                    <li><a href="#">Data Lists</a></li>
                    <li><a href="#">Four</a></li>
                  </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <!-- Accordion tab title -->
              <a href="#" class="accordion-title">Pages</a>

              <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
              <div class="accordion-content" data-tab-content>
                 <ul class="vertical menu">
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Checkboxes</a></li>
                    <li><a href="#">Radio Buttons</a></li>
                    <li><a href="#">Data Lists</a></li>
                    <li><a href="#">Four</a></li>
                  </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="title-bar hide-for-large">
          <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="my-info"></button>
            <span class="title-bar-title">Mike Mikerson</span>
          </div>
        </div>
        <div class="row">
          <div class="small-12 column">
            {{content}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>