<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      <div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
        <div class="row column">
          <img class="sidebar-logo" src="/images/logo.jpg">
          <ul class="accordion" data-accordion>
            <li class="accordion-item is-active" data-accordion-item>
              <!-- Accordion tab title -->
              <a href="#" class="accordion-title">Components</a>
              <div class="accordion-content" data-tab-content>
                 <ul class="vertical menu">
                    <% for(var key in htmlWebpackPlugin.options.data) {%>
                      <li><a href="<%= htmlWebpackPlugin.options.data[key] %>"><%= key %></a></li>
                    <% } %>
                  </ul>
              </div>
            </li>
            <li class="accordion-item" data-accordion-item>
              <!-- Accordion tab title -->
              <a href="#" class="accordion-title">Pages</a>
              <div class="accordion-content" data-tab-content>
                 <ul class="vertical menu">
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Checkboxes</a></li>
                    <li><a href="#">Radio Buttons</a></li>
                    <li><a href="#">Data Lists</a></li>
                    <li><a href="#">Four</a></li>
                  </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="row">
          <div class="small-12 column">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  <script>
    $(document).foundation();
  </script>
  </body>
</html>